* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root{
  width: 100%;
  height: 100%;
  font-family: Gilroy;
}
main{
  
  color:whitesmoke;
}
body {
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}
section {
  width: 100%;
  min-height: 100vh;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}

#section1{
  nav{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    
  }
  .middle{
    padding-top: 100px;
    display: flex;
  }
  .nav_elem{
    
    padding: 10px;
    cursor: pointer;
  }
  .nav_elem:nth-child(1){
    font-size: 30px;
    font-weight: 600;
  }
  nav .nav_elem:nth-child(2){
    font-size: 20px;
    font-weight: 500;
    i{
      color: red;
    }
  }
  .nav_elem:nth-child(3){
    font-size: 20px;
    font-weight: 500;
  }

  .right, .left{
    width: 50%;
    
  }
  .left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-block: 3rem;

    h1{
      font-size: 80px;
      line-height: 80px;
      padding-left: 50px;
      text-align: right;
    }
  }

  .bottom{
    display: flex;
    color: rgb(168, 160, 160);

    .bRight, .bLeft{
    width: 50%;
  }
  }
  
  

}

